body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/*(part Menubar part Started) */

.menu-bar{
    margin-top: 10px;
    background-image: linear-gradient(tomato,orange);
    text-align: center;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
}
.menu-bar ul li{
    width:120px;
    margin: 15px;
    padding: 20px; 
}
.menu-bar ul li a{
    font-size: 15px;
    text-decoration: none;
    color: white; 
}
.orange{
    color: orange;
}

/*(part One & Two Started) */

.equal-containar{
   
    display: flex;
    font-size: 25px;
    padding: 30px;
    margin: 100px;
}

.half-width{
    width: 50%;
    padding-left:2%;
    padding-left: 2%;
    padding-top: 2%;
}
.order-button{
    text-decoration: none;
    border-radius: 30px;
    color: white;
    background-image: linear-gradient(tomato , orange);
    padding: 20px 50px;
}

/*(part Three Started) */

.my-recipies{
    text-align: center;
    margin: 100px;
    padding: 50px;
}

/*(part fourt Started) */

.background-img{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.img{
    width: 100%;
    padding-top: 10px;
    text-align: center;
}
.food-item{
    border-radius:50px;
    margin: 20px;
    padding-left:2%;
    padding-right:2%;
    width: 40%;
    box-shadow: 10px 10px 30px gray;
}

/*(part five Started) */

.signup-from{
    height: 400px;
    text-align: center;
    border-radius: 50px;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.247) 
}
.from-size{
    height: 400px;
}

/*(part Six Started) */

.flex-container{
    display: flex;
    justify-content: center;
    margin: 60px;
    border-radius: 50px;
    padding: 10px solid black;
    box-shadow: 10px 10px 30px gray;
}

.flex-item{
    font-size: 25px;
    padding: 70px;
}



/*(part Seven Started) */

footer{
    background-color: black;
    padding: 20px;
    height: 150px;
    text-align: center;
}
.gray{
    color: gray;
}
footer p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}


